  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    color: #220664;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
  }
  
  input {
    width: 60vw;
    border: 1px solid rgb(14, 13, 13);
    height: 5vw;
    padding: 0 2vw;
    font-size: 1.5vw;
  }
  
  button {
    width: 60vw;
    height: 5vw;
    font-size: 1.5vw;
    background: rgb(21, 4, 95);
    text-align: center;
    line-height: 5vw;
    font-weight: bold;
    color: #FFF;
    margin-top: 1vw;
    border-radius: 10px;
  }
  
  .messages {
    overflow: scroll;
    width: 60vw;
    height: 30vh;
    margin: 2vw 0;
    border: 1px solid rgb(12, 12, 12);
    padding: 2vw;
  }

  #content{
    margin: 0vh auto;
    background: linear-gradient(to left,#e7e2e6,#b5b4ee);
    display: flex;
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
    border: #2c292b solid 0px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vw;
    padding: 2vw;
  }

  @media screen and (max-width:450px){
  .message{
    font-size: 3vw;
  }

  h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vw;
    padding: 2vw;
  }

  .messages {
    overflow: scroll;
    width: 60vw;
    height: 50vw;
    margin: 2vw 0;
    border: 1px solid rgb(12, 12, 12);
    padding: 2vw;
  }
  
  input {
    width: 60vw;
    border: 1px solid rgb(14, 13, 13);
    height: 10vw;
    padding: 0 2vw;
    font-size: 3vw;
  }

  }